/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

ul, li {
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

/* Estilo */
body {
    color: #64009D;
    background-color: #111;
    font-family: sans-serif;
}

.email {
    max-width: 600px;
    margin: 2rem auto 0;
    background-color: #F2F2F2;
}

td.logo_vivo {
    width: 60px;
    vertical-align: top;
}

td.titulo {
    width: 200px;
}

td.titulo h1 {
    font-size: 2rem;
    line-height: 1;
}

td.titulo span {
    display: block;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.5;
}

.conteudo p {
    margin: 1rem 0;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 1rem;
    color: #878;
}

.conteudo .roxo {
    color: #64009D;
}

.planos td {
    margin-top: 1rem;
}

.planos td.icone {
    width: 140px;
    padding: 0.5rem 0 0.5rem 60px;
    vertical-align: top;
}

.planos h3 {
    margin-left: 1rem;
    font-size: 1rem;
}

.planos p {
    padding-left: 0;
    margin: 0.5rem 0 0 1rem;
}

.conteudo .pacote_adicional {
    margin: 20px 60px;
    padding: 1.5rem;
    border: 1px solid #64009D;
    font-size: 1rem;
    text-align: center;
}

.conteudo .sobre td {
    width: 300px;
}

.conteudo .sobre .ilustracao{
    padding-left: 60px;
    padding-right: 1rem;
}

.conteudo .sobre h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-right: 60px;
}

.conteudo .sobre p {
    margin: 0;
    padding-left: 0;
    font-size: 0.875rem;
    line-height: 1.5;
}

.conteudo .qualidades {
    margin-top: 2rem;
    padding: 2rem 60px;
    background-color: #E9E9E9;
}

.conteudo .qualidades h2 {
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
}

.conteudo .qualidades .img_container {
    width: 80px;
    margin: 0 auto;
}

.conteudo .qualidades td {
    width: 120px;
    vertical-align: top;
}

.conteudo .qualidades p {
    padding: 0 0.5rem;
    font-size: 1rem;
    text-align: center;
}